

<!DOCTYPE html>
<html lang="zxx">

<head>
    <title>Rambling A Travel Category Bootstrap Responsive website Template | About :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <meta name="keywords" content="Rambling Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />
    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>
    <!-- Custom Theme files -->
    <link href="css/bootstrap.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/style.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/menufullpage.css" rel="stylesheet">
    <!-- font-awesome icons -->
    <link href="css/fontawesome-all.min.css" rel="stylesheet">
    <!-- //Custom Theme files -->
    <!-- online-fonts -->
    <link href="//fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&amp;subset=latin-ext"
	    rel="stylesheet">

	<!-- //online-fonts -->
</head>

<body>
   
   
    <!-- banner -->
    <div class="main position-relative">
        <!-- logo -->
        <h1 class="logo_wthree">
            <a href="index.html">
                Rambling
            </a>
        </h1>
        <!-- //logo -->
        <!-- banner slider -->
        <section class="inner-banner-agile">
        </section>
        <!-- //banner slider -->
    </div>
    <!-- banner -->
	<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="index.html">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>
	<div class="about-page-w3ls py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle mb-xl-5 mb-4 text-dark text-center">
						<span class="text-uppercase">About </span>what we offer</h3>
			<div class="row mt-md-4 pt-4">
				<div class="col-lg-6 about-w3layouts">
					<img src="images/g3.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 about-w3layouts-right mt-lg-0 mt-5">
					<h3 class="subheading-wthree mb-2">A Few Words About Us</h3>
					<p>SpliceUp brings people together in thousands of cities to do more of what they want to do in life.</p>
					<p class="my-2 pb-4 border-bottom">It is organized around one simple idea: when we get together and do the things 
					that matter to us, we’re at our best. And that’s what SpliceUp does. 
					 It brings people together to do, explore, teach and learn the things that help them 
					 come alive.</p>
					<p>example if you like travelling, then here meet fellow travel enthusiasts near you. Come to travel, 
					to relive adventures, share photos from around the world and get first-hand 
					recommendation on new exotic destinations. Find fun, laughs and maybe even a 
					new travel buddy.</p>
					
					<p>Here members can also make their community and can share
					 photos, videos, reviews, experience with other fellow members.
					  Members can also organize an event which will be temporary till the
					   event is completed.</p>

					
				</div>
			</div>
			
		</div>
	</div>	
	
    
	<!-- Team -->
	<div class="team py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="tittle mb-xl-5 mb-4 text-dark text-center">
						<span class="text-uppercase">Team</span>Our Agents</h3>
			<div class="row agile_banner_bottom_grids mt-md-4 pt-4">
				<div class="col-lg-3 col-sm-6 agile_banner_bottom_grid">
					<div class="w3layouts_banner_bottom_grid">
						<img src="images/te1.jpg" alt=" " class="img-fluid" />
						<div class="w3layouts_banner_bottom_grid_pos">
							<p class="text-white py-2 px-4 mb-3">Mary Doe</p>
							<div class="social-bnr-agileits py-2 px-3">
								<ul class="list-unstyled">
									<li>
										<a href="#">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-google-plus-g"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 agile_banner_bottom_grid mt-sm-0 mt-4">
					<div class="w3layouts_banner_bottom_grid">
						<img src="images/te2.jpg" alt=" " class="img-fluid" />
						<div class="w3layouts_banner_bottom_grid_pos">
							<p class="text-white py-2 px-4 mb-3">Victoria</p>
							<div class="social-bnr-agileits py-2 px-3">
								<ul class="list-unstyled">
									<li>
										<a href="#">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-google-plus-g"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 agile_banner_bottom_grid  mt-lg-0 mt-4">
					<div class="w3layouts_banner_bottom_grid">
						<img src="images/te3.jpg" alt=" " class="img-fluid" />
						<div class="w3layouts_banner_bottom_grid_pos">
							<p class="text-white py-2 px-4 mb-3">Thomson</p>
							<div class="social-bnr-agileits py-2 px-3">
								<ul class="list-unstyled">
									<li>
										<a href="#">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-google-plus-g"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3 col-sm-6 agile_banner_bottom_grid mt-lg-0 mt-4">
					<div class="w3layouts_banner_bottom_grid">
						<img src="images/te4.jpg" alt=" " class="img-fluid" />
						<div class="w3layouts_banner_bottom_grid_pos">
							<p class="text-white py-2 px-4 mb-3">Heny Jon</p>
							<div class="social-bnr-agileits py-2 px-3">
								<ul class="list-unstyled">
									<li>
										<a href="#">
											<i class="fab fa-facebook-f"></i>
										</a>
									</li>
									<li class="mx-2">
										<a href="#">
											<i class="fab fa-twitter"></i>
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fab fa-google-plus-g"></i>
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //team -->
<!--footer-->
	<footer class="py-lg-5 py-3">
		<div class="container">
			<div class="inner-sec-w3ls-agileits py-lg-5 py-3">
				<div class="row">
					
					<div class="col-lg-4 footer-grid1-wthree-agileits text-left">
						<h3 class="mb-4">Locate Us</h3>
						<ul class="footer-bottom-list">
							<li>
								<span class="fas fa-map-marker-alt"></span> 3481 Honey Street
								<span> California, USA </span>
							</li>
							<li>
								<span class="fas fa-envelope"></span>
								<a href="mailto:name@example.com"> mail@example.com</a>
							</li>
							<li>
								<span class="fas fa-phone"></span> +143 367 436 2049 </li>
							<li>
								<span class="fas fa-fax"></span> +166 367 808 5055 </li>
							<li>
								<span class="fas fa-globe"></span>
								<a href="#"> www.websitename.com</a>
							</li>

						</ul>
					</div>
					
				</div>
				

	<!-- js -->
    <script src="js/jquery-2.2.3.min.js"></script>
    <!-- //js -->
    <!-- navigation -->
    <script src="js/menuFullpage.min.js"></script>
    <script src="js/expert.js"></script>
    <!-- jQuery-Photo-filter-lightbox-Gallery-plugin -->
    <script src="js/move-top.js "></script>
    <script src="js/easing.js "></script>
    <script src="js/SmoothScroll.min.js "></script>
    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="js/bootstrap.js"></script>
</body>
</html>