<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">

<body>
    
<div id="page" layout:fragment="content">
<div id="dynamicContent">
		
    <div class="main position-relative">
      
        <h1 class="logo_wthree">
            
        </h1>
        <section class="inner-banner-agile">
        </section>
    </div>
   
    <!-- banner -->
	<ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="/event/home">Home</a>
        </li>
        <li class="breadcrumb-item active">About</li>
    </ol>
	
		<div class="container py-xl-5 py-lg-3" >
			<h3 class="tittle mb-xl-5 mb-4 text-dark text-center">
						<span class="text-uppercase">About </span>what we offer
			</h3>
			
				
				<div class="center">
					<h3 class="subheading-wthree mb-2">A Few Words About Us</h3>
					<p>SpliceUp brings people together in thousands of cities to do more of what they want to do in life.</p>
					<p class="my-2 pb-4 border-bottom">It is organized around one simple idea: when we get together and do the things 
					that matter to us, we’re at our best. And that’s what SpliceUp does. 
					 It brings people together to do, explore, teach and learn the things that help them 
					 come alive.</p>
					<p>example if you like travelling, then here meet fellow travel enthusiasts near you. Come to travel, 
					to relive adventures, share photos from around the world and get first-hand 
					recommendation on new exotic destinations. Find fun, laughs and maybe even a 
					new travel buddy.</p>
					
					<p>Here members can also make their community and can share
					 photos, videos, reviews, experience with other fellow members.
					  Members can also organize an event which will be temporary till the
					   event is completed.</p>

					
			
			</div>
			
		</div>

	
    
	
			
			</div>
			</div>
			
			

	
</body>
</html>