<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
    
    <body>
    <div id="page" layout:fragment="content">
		<div id="dynamicContent">
    

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%">
  <thead>
    <tr>
  		<th class="th-sm">NAME
      </th>
      
      <th class="th-sm">EMAIL
      </th>
      
      
      
    </tr>
  </thead>
  <tbody>
       <tr th:if="${List_Of_Users.empty}">
            <td colspan="2"> No Users Available </td>
        </tr>
        <tr th:each="adminrecord : ${List_Of_Users}">
        
        <td><a th:href="@{'/admin/viewDelete/'+${adminrecord.uid}}"><span th:text="${adminrecord.userDetail.name}"></span></a></td>
        
            
        <td><span th:text="${adminrecord.email}"></span></a></td>
                        
        </tr>
    
  </tbody>
  
</table>
</div>
</div>
</body>
</html>