<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
    
    <body >
    <div id="page" layout:fragment="content">
		<div id="dynamicContent">
    

<table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" style="color:#80b7b2;">
  <thead>
    <tr>
  		<th class="th-sm">NAME
      </th>
      
      <th class="th-sm">EMAIL
      </th>
      
      <th class="th-sm">CONTACT NO</th>
	
		<th class="th-sm">ROLE</th>
	
    </tr>
  </thead>
  
  <tbody >
  
       <tr th:if="${List_Of_Users.empty}">
            <td colspan="2"> No User Available </td>
        </tr>
        
        <tr th:each="adminrecord : ${List_Of_Users}">
               
         <td><span th:text="${adminrecord.userDetail.name}"></span></td>
            
        <td><span th:text="${adminrecord.email}"></span></a></td>
        
        <td><span th:text="${adminrecord.userDetail.mobile_no}"></span></td>
						<td><span th:text="${adminrecord.userDetail.role}"></span></td>
						<span th:if="${userName!=adminrecord.email}">

						
	</span>
                        
        </tr>
    
  </tbody>
  
</table>
</div>
</div>
</body>
</html>