<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">


<body>
	<div id="page" layout:fragment="content">
		<div id="dynamicContent">
			
			<div class="main position-relative">
				<!-- logo -->
				
				<!-- //logo -->
				<!-- banner slider -->
				<section class="inner-banner-agile"></section>
				<!-- //banner slider -->
			</div>
			<!-- banner -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="index.html">Home</a></li>
				<li class="breadcrumb-item active">Contact</li>
			</ol>
			<!-- contact -->
			<section class="banner-bottom-w3ls pt-lg-5 pt-md-3 pt-3">
				<div class="inner-sec-wthreelayouts pt-md-5 pt-md-3 pt-3">
					<h2 class="tittle mb-xl-5 mb-4 text-center">
						<span class="text-uppercase">Contact</span>Get In Touch
					</h2>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 main_grid_contact">
								<div class="form">
									<h4 class="mb-4 text-left">Send us a message</h4>
									<form th:action="@{/event/createEvent}"
										enctype="multipart/form-data" method="post">
										<div class="form-group">
											<label class="my-2">Name</label> <input class="form-control"
												type="text" name="name" placeholder="" required>

										</div>

										<div class="form-group">
											<label>Description</label> <input class="form-control"
												type="text" name="description" placeholder="" required>
										</div>




										


										<div class="form-group">
									<label>Start Date</label> <input name="s_date" id="start"
										class="form-control" type="date" placeholder=""
										required="required">
								</div>
								<div class="form-group">
									<label>End Date</label> <input name="e_date" id="end"
										class="form-control" type="date" placeholder=""
										required="required" >
								</div>  
										<div class="form-group">
											<label>Select City</label> <select class="form-control"
												name="city">
												<option th:each="i : ${cities}" th:value="${i.cid}"
													th:text="${i.name}">    </option>
											</select>
										</div>

										<div class="form-group">
											<label>Event Image</label> <input class="form-control"
												type="file" placeholder="" name="eventImage"
												required="required">
										</div>
										<div class="form-group">
											<label>Location</label>
											<textarea id="textarea" name="location" placeholder=""></textarea>
										</div>
										<div class="input-group1">
											<input class="form-control" type="submit" value="Submit">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
			</div>
			</div>
	
</body>


</html>