<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">

<body >

<div id="page" layout:fragment="content">
<div id="dynamicContent">
<div class="title">
<h1>Contact Us </h1>


</div>

<div class="box">
<h2>Get In Touch</h2>
	<form>
		<input type="text" name="name" class="form-control" placeholder="Pravina Prajapti" required><br>
		<input type="email" name="email" class="form-control" placeholder="spliceupwebapp@gmail.com" required><br>
		<textarea rows="4" cols="" name="message" class="form-control" placeholder="contact us if any query.." required></textarea><br>
		<input type="submit" name="" value="SEND MESSAGE" class="form-control submit">
	</form>
</div>
</div>
</div>
</body>


</html>














