<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">

<head>

			
 
</head>

<body bgcolor="#4A235A">
	<div id="page" layout:fragment="content">
		<div id="dynamicContent">

			
			<!-- banner -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/event/home">Home</a></li>
				<li class="breadcrumb-item active">Host</li>
			</ol>
			<!-- contact -->
			<section class="banner-bottom-w3ls pt-lg-5 pt-md-3 pt-3">
				<div class="inner-sec-wthreelayouts pt-md-5 pt-md-3 pt-3">
					<h2 style="color:WHITE;" class="tittle mb-xl-5 mb-4 text-center">
						<span class="text-uppercase"></span>Host An Event
					</h2>
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-12 main_grid_contact">
								<div class="form">
									<h4 class="mb-4 text-left"> Fill the form and submit</h4>


									<form th:action="@{/event/createEvent}"
										enctype="multipart/form-data" method="post">
										<div class="form-group">
											<label class="my-2">Name</label> <input class="form-control"
												type="text" name="name" placeholder="" required>

										</div>

										<div class="form-group">
											<label>Description</label> <input class="form-control"
												type="text" name="description" placeholder="" required>
										</div>

										<div class="form-group">
											<label>Start Date</label> <input name="s_date" id="start"
												class="form-control" type="date" placeholder=""
												required="required">
										</div>
										<div class="form-group">
											<label>End Date</label> <input name="e_date" id="end"
												class="form-control" type="date" placeholder=""
												required="required">
										</div>
										<div class="form-group">
											<label>Select City</label> <select class="form-control"
												name="city">
												<option th:each="i : ${cities}" th:value="${i.cid}"
													th:text="${i.name}">    </option>
											</select>
										</div>

										<div class="form-group">
											<label>Event Image</label> <input class="form-control"
												type="file" placeholder="" name="eventImage"
												required="required">
										</div>
										<div class="form-group">
											<label>Location</label>
											<input class="form-control" type="text" name="location" placeholder="" required>
										</div>
										
							<!-- <div class="form-group">
										<label>Event type</label>
										<div class="radio" >
										
										<label for="chkyes">
										<label><input type="radio" name="is-paid_event" id="chkyes" value="TRUE" onclick="ShowHideDiv()">Paid</label>
										</label>
										<label for="chkno">
										<label><input type="radio" name="is-paid_event" id="chkno" value="FALSE" onclick="ShowHideDiv()" >Free</label>
										</label>
										<div id="dvPassport" style="display: none">
   										 Enter 
:
  										  <input type="text" id="txtPassportNumber" />
												</div>
										</div>
										</div>
										 -->	
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("input[name='paidEvent']").click(function () {
            if ($("#chkYes").is(":checked")) {
                $("#dvPassport").show();
            } else if($("#chkNo").is(":checked")) {
            	$("#txtPassportNumber").val(0)
                $("#dvPassport").hide();
            }
        });
        
       
    });
</script>	
<div class="form-group">	
										
<span>Event Type?</span>
<label for="chkYes">
    <input type="radio" id="chkYes" name="paidEvent" value="TRUE" />
    Paid
</label>
<label for="chkNo">
    <input type="radio" id="chkNo" name="paidEvent" value="FALSE" />
   Free
</label>
<hr />
<div id="dvPassport" style="display: none">
    Enter Amount:
    <input type="number" id="txtPassportNumber" name="price" />
</div>

</div>
										
										
										<div class="form-group">
										<label>Event hosting payment: Rs 250</label>
										<div><a href="/event/payment"><button type="button" class="btn btn-dark">PAY</button></a></div>
										<br><br>
										<div class="input-group1">
											<input class="form-control" type="submit" value="Submit">
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
	
	


</body>


</html>
<!--  -->