<!DOCTYPE html>
<html>
	<!-- th:if="${userName=='abcd3@gmail.com'}" -->
<head th:replace="header :: head"></head>
<body>
	<div class="container">
		<!--  <span  th:text="${userName}"></span> -->
		<a href="#menu" class="menu-link"> <span>toggle menu</span>
		</a>
		<nav id="menu" class="panel">
			<ul>
				<li><a href="/event/home">Home</a></li>
				<li><a href="/event/about">About</a></li>
				<li><a href="/event/services">Events</a></li>
				<li><a href="/event/createEvent">Host Event</a></li>
				
				<span th:if="${userRole=='ROLE_ADMIN'}">
				<li><a href="/admin/ar">Users Record</a></li>
				</span>
				
				<li><a href="/profile/userProfile">View Profile</a></li>
				<li><a href="/Contact/con">Contact Us</a></li>
				<li><a href="/login/doLogout">Logout</a></li>
				
				

			</ul>
		</nav>

		<div layout:fragment="content"></div>
		<div th:replace="footer :: footer"></div>
	</div>
</body>
</html>
