<!DOCTYPE html>
<html>
<head th:replace="header :: head"></head>
<body>
	<div class="container">
		<a href="#menu" class="menu-link"> <span>toggle menu</span>
		</a>
		<nav id="menu" class="panel">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a th:href="@{/event/services}">Events</a></li>
				<li><a href="gallery.html">Gallery</a></li>
				
				<li><a href="contact.html" class="active">contact</a></li>

			</ul>
		</nav>

		<div layout:fragment="content"></div>
		<div th:replace="footer :: footer"></div>
	</div>
</body>
</html>
