
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<link rel="stylesheet" type="text/css" href="../css/eventDetail.css">
</head>

<body bgcolor="#4A235A">

	<div id="page" layout:fragment="content" class=" eventdetail">
		<div id="dynamicContent">
			<!-- banner -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/event/home">Home</a></li>
				<li class="breadcrumb-item active"><a href="/event/services">Services</a></li>
				<li class="breadcrumb-item active">View</li>
			</ol>

			<div class="main position-relative">


				<h1 class="card-title" align="center">
					<span th:text="${contact.name}"></span>
				</h1>



				<section>

					<div class="row pt-5 eventdetail-data">
						<div class="col-6 event-img">

							<img th:src="${contact.image}" class="img-fluid"
								alt="Card image cap">
						</div>

						<div class="col-6 event-data">
							<p>
								Description:<br>
								<span th:text="${contact.description}"></span>
							</p>
							<br>
							<p>
								Starting Date:<br>
								<span class="dateFieldCpm d-none" th:text="${contact.s_date}"></span>
							</p>
							<br>
							<p>
								Ending Date:<br>
								<span class="dateFieldCpm d-none" th:text="${contact.e_date}"></span>
							</p>
							<br>

							<p>
								Location:<br>
								<span th:text="${contact.location}"></span>
							</p>
							<br>
						</div>
					</div>
			</div>

			<form th:action="@{/event/postComment}" method="post">

				<div class="col-12 event-comment">
					<div class="form-group event-label">
						<label class="event-label"></label>
						<textarea class="event-text" rows="5" cols="150"
							name="description" placeholder="Write a comment"
							required="required"></textarea>
					</div>
				</div>

				<input type="hidden" name="event.eid" th:value="${contact.eid}">

				<div class="input-group1 main-event-button">
					<button class="btn btn-danger btn-block event-button" type="submit">Post
						Comment</button>
				</div>
				<div style="color: #80b7b2;" class="row pt-5"
					th:each="i : ${eventComments}">

					<span th:text="${i.description}"></span>

				</div>

			</form>

			</section>

		</div>

		<div class="event-final">

			<input type="checkbox" name="toggle" id="toggle" /> <label
				for="toggle"></label>

			<div class="message">

				<table id="example" class="table table-striped table-bordered"
					cellspacing="0" width="100%" style="overflow-y: scroll;">

					<tbody>
						<tr th:if="${entries.empty}">
							<td colspan="2">No participants</td>
						</tr>
						<tr th:each="i : ${entries}">

							<td><span th:text="${i.user.userDetail.name}"></span></td>

						</tr>

					</tbody>

				</table>

			</div>
		</div>

	</div>

</body>
</html>
