<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<link rel="stylesheet" type="text/css" href="../css/eventDetail.css">
</head>

<body bgcolor="#1b3256">
	<div id="page" layout:fragment="content" class=" eventdetail">
		<div id="dynamicContent">
			<!-- banner -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/event/home">Home</a></li>
				<li class="breadcrumb-item active"><a href="/event/services">Services</a></li>
				<li class="breadcrumb-item active">View</li>
			</ol>

			<div class="main position-relative">


				<h1 class="card-title" align="center">
					<span th:text="${contact.name}"></span>
				</h1>



				<section>

					<div class="row pt-5 eventdetail-data">
						<div class="col-6 event-img">

							<img th:src="${contact.image}" class="img-fluid"
								alt="Card image cap">
						</div>

						<div class="col-6 event-data">
							<p>
								Description:<br> <span th:text="${contact.description}"></span>
							</p>
							<br>
							<p>
								Starting Date:<br> <span class="dateFieldCpm d-none"
									th:text="${contact.s_date}"></span>
							</p>
							<br>
							<p>
								Ending Date:<br> <span class="dateFieldCpm d-none"
									th:text="${contact.e_date}"></span>
							</p>
							<br>

							<p>
								Location:<br> <span th:text="${contact.location}"></span>
							</p>
							<br>
						</div>
					</div>
			</div>
			<div class="row pt-5" th:each="i : ${imageList}">

				<img th:src="${i.ipath}" class="img-fluid" alt="Card image cap">
			</div>
			<form th:action="@{/event/uploadEventImage}"
				enctype="multipart/form-data" method="post">

				<div class="col-12 event-comment">
					<div class="form-group">
						<label>Event Image</label> <input class="form-control" type="file"
							placeholder="" name="eventImage" required="required">
					</div>
				</div>

				<input type="hidden" name="event.eid" th:value="${contact.eid}">

				<div class="input-group1 main-event-button">
					<button class="btn btn-danger btn-block event-button" type="submit">Upload
						Image</button>
				</div>

			</form>

			</section>

		</div>



	</div>

</body>
</html>
