<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">


<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width", initial-scale="1" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Splice Up</title>
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Quicksand:300,400,500,700&amp;lang=en" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/EventHostFormCSS.css}"/>

</head>
<body>
    <div class="wrapper">
        <div class="nav">
            <div class="left">
                <ul>
                    <li><a href="#">a</a></li>
                    <li><a href="#">b</a></li>
                    <li><a href="#">c</a></li>
                    <li><a href="#">d</a></li>
                </ul>
            </div>
            <div class="right">
                <ul>
                    <li><a href="#">a</a></li>
                    <li><a href="#">b</a></li>
                    <li><a href="#">c</a></li>
                    <li><a href="#">d</a></li>
                </ul>
            </div>
        </div>

        <div class="header">
            <h1>Event Host Form</h1>
            <p>
                shdd
            </p>

        </div>
        <div class="form">
            <form>
                <input type="text" placeholder="Event name" />
               <textarea rows="3" placeholder="Description">

               </textarea>
               
                <div class="date">
                   Start date: <input type="date" />
                   End date: <input type="date" />
                </div>

                <input type="number" placeholder="Event Capacity" />
                <input type="text" placeholder="Event Location" />
                
                                 
            </form>
            <button type="button" >HOST</button>
        </div>
    </div>
</body>
</html>