<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Event Page</title>

    
        <link rel="stylesheet" type="text/css" th:href="@{/css/EventDetailscss.css}"/>
    
    <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav class="navBar">
            <a href="#">

               
                <img src="/images/uNK9KohQ (1).png" alt="logo" />
            </a>
            <a href="#">
              
                <img src="/images/KRzthLbQ.png" alt="menu-btn"/>
            </a>
        </nav>

        <header>
            <h1 class="anim">YOGA TEACHER TRAINING</h1>
            <p class="anim">This yoga teacher training in India course is designed to facilitate students the intensive and spiritual teachings and practices of traditional yoga teacher training in India. This 200 hour yoga teacher training course will provide you new insights in all areas of yoga practice. The qualification you will gain in this yoga teacher training in India course, will give you the skills and experience to start teaching yoga professionally.

We are recognized by Yoga Alliance in the USA RYS (Registered Yoga School). It gives you an opportunity to become a certified yoga instructor. With our certification you can get registered with Yoga Alliance as a Registered Yoga Teacher ‘RYT-200’ for your career and job opportunities.

You will learn the history and philosophy of Yoga. It will give you a good understanding of Human anatomy in relation with yoga teacher training in India understanding of the influence of Asana practice on the human body.

Though This course is especially designed for people who want to start teaching Yoga and need appropriate certification, however everyone is welcome here! Even if you are not interested in teaching yoga, the course will help you to lead a healthier, Peaceful and more spiritual life. Focusing on Breathing, Awareness, Meditation and Practical Philosophy live your life with less stress, contentment and harmony, and discover your true rhythm and nature!

yoga teacher training in India and yoga teacher training India | ashtanga yoga teacher training India | Vinyasa yoga teacher training India

</p>
        </header >

        <div class="work">

            <img class="anim" src="/images/images (10).jpg" height="385" width="70"/>
            <img class="anim"src="/images/images (11).jpg" />
            <img class="anim"src="/images/images (13).jpg" height="385" width="70"/>
            <img class="anim"src="/images/images (8).jpg" height="385" width="70" />
        </div>
       
            <div class="contents">
                <h1 class="header3">COURSE CONTENTS</h1>

                <table border="100%" cellpadding="5" cellspacing="120" align="center">
                    <tr >
                        <td><li>Yogasana Practice</li></td>
                        <td><li>Yoga Philoshophy</li></td>
                        <td><li>Anatomy & Physiology</li></td>

                    </tr>
                    
                    <tr>
                        <td><li>Vinyasa Flow</li></td>
                        <td><li>Pranayama & Meditation</li></td>
                        <td><li>Principles of Ayurveda</li></td>
                    </tr>
                </table>

               
            </div>
      
        <div class="work2">


            
            <img class="anim"src="/images/download (2).jpg" height="400" width="100" />
        </div>
        
        <div class="header2">
            <h1 class="anim">VENUE</h1>

            <table border="100%" cellpadding="9" cellspacing="100" align="center">
                <tr>
                    <td><li>Vadodara</li></td>
                    <td><li>Surat</li></td>
                    <td><li>Mumbai</li></td>

                </tr>

                <tr>
                    <td><li>Ahemdabad</li></td>
                    <td><li>Anand</li></td>
                    <td><li>Gandhidham</li></td>
                </tr>

                <tr>
                    <td><li>Pune</li></td>
                    <td><li>Anjar</li></td>
                    <td><li>Vasad</li></td>
                </tr>
            </table>
            
            
            <select id="Select1">
                <option>location</option>
                <option>vadodara</option>
                <option>surat</option>
                <option>mumbai</option>
                <option>anand</option>
                <option>pune</option>
                <option>uttrakhand</option>
                <option>rishikesh</option>

            </select>
        </div>
        <button type="button" name="join" value="Join Now">Join Now</button>

        
    </div>
    <script type="text/javascript">
            window.sr = ScrollReveal();
            sr.reveal('.anim');
    </script>

</body>
</html>