
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div id="page" layout:fragment="content" class=" eventdetail">
		<div id="dynamicContent">

			<div class="main position-relative">

				<h1 class="logo_wthree">
					<h1 class="card-title" align="center">
						<span th:text="${contact.name}"></span>
					</h1>

				</h1>
				<!-- //logo -->
				<!-- banner slider -->

				<section>

					<div class="row pt-5 eventdetail-data">

						<div class="col-6 event-img">

							<img th:src="${contact.image}" class="img-fluid"
								alt="Card image cap">
						</div>

						<div class="col-6 event-data">
							<p>
								Description:<span th:text="${contact.description}"></span>
							</p>
							<p>
								Starting Date:<span class="dateFieldCpm d-none"
									th:text="${contact.s_date}"></span>
							</p>
							<p>
								Ending Date:<span class="dateFieldCpm d-none"
									th:text="${contact.e_date}"></span>
							</p>
						</div>
					</div>
			</div>
			<div class="row pt-5" th:each="i : ${eventComments}">

				<div class="col-5 service-btn-list">
					<span th:text="${i.description}"></span>
				</div>
			</div>

			<form th:action="@{/event/postComment}" method="post">

				<div class="col-12 event-comment">
					<div class="form-group">
						<label class="event-label">Comments</label>
						<textarea rows="5" cols="150" name="description"
							required="required"></textarea>
					</div>
				</div>
				<input type="hidden" name="event.eid" th:value="${contact.eid}">

				<div class="input-group1 main-event-button">
					<button class="btn btn-danger btn-block event-button" type="submit">Post
						Comment</button>
				</div>


			</form>

			</section>

		</div>

		<div>All participants of this event:</div>
		<br>
		<table id="example" class="table table-striped table-bordered"
			cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="th-sm">NAME</th>

				</tr>
			</thead>
			<tbody>
				<tr th:if="${entries.empty}">
					<td colspan="2">No participants</td>
				</tr>
				<tr th:each="i : ${entries}">



					<td><span th:text="${i.user.userDetail.name}"></span></td>

				</tr>

			</tbody>

		</table>



	</div>
	</div>
</body>
</html>
