<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<head>
<link rel="stylesheet" type="text/css" href="../css/eventDetail.css">
</head>

<body bgcolor="#1b3256">
	<div id="page" layout:fragment="content" class=" eventdetail">
		<div id="dynamicContent">
			<!-- banner -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/event/home">Home</a></li>
				<li class="breadcrumb-item active"><a href="/event/services">Services</a></li>
				<li class="breadcrumb-item active">Images</li>
			</ol>

			<div class="main position-relative">


				<h1 class="card-title" align="center">
					<span th:text="${contact.name}"></span>
				</h1>



				

			
			<span th:each="i : ${imageList}">
			
        	<img class="three" th:src="${i.ipath}" height=200px; width=200px; />
        	
        	</span>
   			
   			<div  th:each="i : ${contact}">
			<span th:if="${userName == i.eventHost.email}">
			
			<form th:action="@{/event/uploadEventImage}"
				enctype="multipart/form-data" method="post" >
	
				<div class="col-12 event-comment">
					<div class="form-group">
						<input class="form-control" type="file"
							placeholder="" name="eventImage" required="required">
					</div>
				</div>

				<input type="hidden" name="event.eid" th:value="${contact.eid}">

				<div class="input-group1 main-event-button">
					<button class="btn btn-danger btn-block event-button" type="submit">Upload
						Image</button>
				</div>

			</form>
			</span>
			</div>
			

			

		</div>



	</div>

</body>
</html>
