<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div id="page" layout:fragment="content">
		<div id="dynamicContent">
		
		<form id="searchform" method="get" action="">
        <div align="center"  >
            <div class="input-group">
                <div class="input-group-btn">
                    <button tabindex="-1" class="btn btn-default" type="button">Select:</button>
                       
                    <button tabindex="-1" data-toggle="dropdown"
                        class="btn btn-default dropdown-toggle" type="button">
                        <span class="caret"></span>
                    </button>
                    <ul role="menu" class="dropdown-menu" style="vertical-align: top;">
                        
                        <li class="divider"></li>
                        
        <tr th:each="i : ${entries}">
                        <li style="vertical-align: top;"> 
                        <input id="all" name="all" type="checkbox" style="width:30px;height:auto;cursor: pointer;">
                        <span th:text="${i.user.userDetail.name}"></span>
                        </li>    
        
        </tr>
                    </ul>
       </div>

        </div>
    </form>
 
    <div class="form-group">
			<label for="contain">Group Name:</label> <input
				id="locationField" class="form-control search-box-style"
				type="text" />
	</div>
    
    
  
    
     <div class="form-group">
				<label for="contain">Group Discription:</label> <input
					id="locationField" class="form-control search-box-style"
					type="text" />
	</div>
						
	<div class="input-group1 main-event-button">
		<button class="btn btn-danger btn-block event-button" type="submit">Create Group</button>
	</div>					
			
    
    </div>
		
	</div>
</body>
</html>




