<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div id="page" layout:fragment="content">
		<div id="dynamicContent">
			<form th:action="@{/event/manageGroup}" th:object="${partGroup}"
				method="post">

				<div class="form-group">
					<label for="contain">Participants</label> <select required="required"
						class="form-control" name="partiCipantList" multiple>
						<option th:each="i : ${entries}" th:value="${i.id}"
							th:text="${i.user.userDetail.name}">    </option>
					</select>
				</div>


				<div class="form-group">
					<label for="contain">Group Name:</label> <input name="groupName" required="required"
						id="locationField" class="form-control search-box-style"
						type="text" />
				</div>




				<div class="form-group">
					<label for="contain">Group Discription:</label> <input required="required"
						id="locationField" name="groupDescirption"
						class="form-control search-box-style" type="text" />
				</div>
				<input type="hidden" th:field="*{event.eid}">
				<div class="input-group1 main-event-button">
					<button class="btn btn-danger btn-block event-button" type="submit">Create
						Group</button>
				</div>
			</form>
		</div>

	</div>
</body>
</html>




