<head th:fragment="head">
<title>Splice Up</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8" />
<meta name="keywords"
	content="meetup,events,nearby,fun,group activities,splice up, spliceup,meeting" />
<!-- Custom Theme files -->
<link th:href="@{/css/bootstrap.css}" type="text/css" rel="stylesheet"
	media="all">
<link th:href="@{/css/dataTables.bootstrap4.min.css}" type="text/css"
	rel="stylesheet" media="all">

<link th:href="@{/css/style1.css}" type="text/css" rel="stylesheet"
	media="all">
	
	<link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"
	media="all">
<link th:href="@{/css/menufullpage.css}" rel="stylesheet">
<!-- font-awesome icons -->
<link th:href="@{/css/fontawesome-all.min.css}" rel="stylesheet">
<!-- //Custom Theme files -->
<!-- online-fonts -->
<link href="//fonts.googleapis.com/css?family=IBM+Plex+Sans:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i"
	rel="stylesheet">

<link th:href="@{/css/index.css}" rel="stylesheet">

<link th:href="@{/css/scrollbar.min.css}" rel="stylesheet">

	<link th:href="@{/css/chat1.css}" rel="stylesheet">
	
	

</head>
