<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
	
	<head>
	<script th:src="@{/js/chatJs.js}"></script>
	
	<link th:href="@{/css/chatCss.css}" type="text/css"
	rel="stylesheet" media="all">
	
	</head>
    
<body background="../images/m2.jpg" background-size="cover">  

 
<div id="page" layout:fragment="content" >
<div id="dynamicContent">
		
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
         
            <a class="navbar=brand" href="/event/home">
            <img th:src="@{/images/logo.png}" class="logo" src=logo.png /> 
            </a> 
       
            </div>
    </nav>
    
    <div class="welcome-section content-hidden">
        <div class="content-wrap">
        
        <ul class="fly">
                <li>W</li>
                <li>E</li>
                <li>L</li>
                <li>C</li>
                <li>O</li>
                <li>M</li>
              	<li>E</li>
              	<li> </li>
                <li>T</li>
                <li>O</li>

            </ul>
            <br>
        
        
            <ul class="fly-in-text">
                <li>S</li>
                <li>P</li>
                <li>L</li>
                <li>I</li>
                <li>C</li>
                <li>E</li>
              	<li>   </li>
                <li>U</li>
                <li>P</li>

            </ul>

        </div>
    </div>
    
<div class="contain">

<div class="row">
<div class="column animated fadeInLeft">
<p style="font-size:20px; letter-spacing:3px; color:#FFF;">ORGANIZE</p>
</div>&nbsp;&nbsp;
<div class="column animated fadeInRight">
<p style="font-size:20px; letter-spacing:3px; color:#FFF;">PARTICIPATE</p>
</div>
</div>

<div class="row">
<div class="column animated fadeInLeft">
<p style="font-size:20px; letter-spacing:3px; color:#FFF;">ENJOY</p>
</div>&nbsp;&nbsp;
<div class="column animated fadeInRight">
<p style="font-size:20px; letter-spacing:3px; color:#FFF;">FIND NEW PEOPLE</p>
</div>
 
       
    </div>    
    </div>
  
  
  
  
  
  
  
  
  
   </div>
    </div>
    </body>
</html>