<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div id="page" layout:fragment="content">
		<div id="dynamicContent">
			
			<!-- <div class="main position-relative">
		<!-- logo -->
		
		<!-- //logo -->
		<!-- banner slider -->
		<section class="inner-banner-agile"></section>
		<!-- //banner slider -->
	</div>
	
	
	<div>
	email:<span th:text="${user.email}"></span>
	</div>
	
	
	<div>
	password:<span th:text="${user.password}"></span>
	</div>
	    
	  <div>
	name:<span th:text="${user.userDetail.name}"></span>
	</div>  
	
	<div>
	mobile no:<span th:text="${user.userDetail.mobile_no}"></span>
	</div>
	
			
	</div>
	</div>
</body>
</html>



