<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">
<body>
	<div id="page" layout:fragment="content">
		<div id="dynamicContent">
			<div class="main position-relative">
		<!-- logo -->
		<h1 class="logo_wthree">
			<a href="index.html"> Rambling </a>
		</h1>
		<!-- //logo -->
		<!-- banner slider -->
		<section class="inner-banner-agile"></section>
		<!-- //banner slider -->
	</div>
	
	     <div class="row pt-5 service-cl" >
	
	
	                        <div class="col-5">
								<div>
								
									
								</div>
									
									
									
						<!-- <a th:href="@{'/category/edit/' + ${category.id}}">view</a> 
							<a href="/event/services/eid" class="btn btn-primary">JOIN</a>-->			

										
							</div>
	
	
	     </div>
	</div>
	</div>
</body>
</html>



