<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>Estate Register Form Responsive Widget Template ::
	w3layouts</title>
<!-- Meta-Tags -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<meta name="keywords"
	content="Estate Register Form a Responsive Web Template, Bootstrap Web Templates, Flat Web Templates, Android Compatible Web Template, Smartphone Compatible Web Template, Free Webdesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola Web Design">
<script>
	addEventListener("load", function() {
		setTimeout(hideURLbar, 0);
	}, false);

	function hideURLbar() {
		window.scrollTo(0, 1);
	}
</script>



<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>




<!-- //Meta-Tags -->

<!-- css files -->
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet"
	type="text/css" media="all">
<link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"
	media="all" />
<!-- //css files -->

<!-- google fonts -->
<link
	href="//fonts.googleapis.com/css?family=Raleway:400,500,600,700,800,900"
	rel="stylesheet">
<!-- //google fonts -->

</head>
<body>

	<div class="signupform">
		<h1>Estate Register Form</h1>
		<div class="container">
			<!-- main content -->
			<div class="agile_info">
				<div class="w3l_form">
					<div class="left_grid_info">
						<img src="images/left.png" alt="" />
					</div>
				</div>
				<div class="w3_info">
					<input type="hidden" th:value="${userexists}" id="userexists">

					<h2>Sign up for an Account</h2>
					<p>Vestibulum est nulla, fermentum eget ipsum euismod et,
						tincidunt at dui dolor sit.</p>
					<form th:action="@{/login/registration}" th:object="${user}"
						method="post" id="registration_form">
						<div class="input-group">
							<span><i class="fa fa-user" aria-hidden="true"></i></span> <input
								type="text" th:field="*{userDetail.name}"
								placeholder="Full Name" id="usernames" required="required">
							<h5 id="usercheck"></h5>
						</div>
						<div class="input-group">
							<div th:if="${userexists} == 'true'">Email id already
								exists.</div>

							<span><i class="fa fa-envelope" aria-hidden="true"></i></span> <input
								type="text" placeholder="Email" th:field="*{email}"
								id="useremail">
							<h5 id="emailcheck"></h5>

						</div>
						<div class="input-group">
							<span><i class="fa fa-phone" aria-hidden="true"></i></span> <input
								type="text" th:field="*{userDetail.mobile_no}"
								placeholder="Contact Number" id="usermobile">
							<h5 id="mobilecheck"></h5>
						</div>
						<div class="input-group">
							<span><i class="fa fa-lock" aria-hidden="true"></i></span> <input
								type="Password" name="password" th:field="*{password}"
								placeholder="Password" id="userpassword">
							<h5 id="passcheck"></h5>
						</div>
						<button class="btn btn-danger btn-block" type="submit">Sign
							Up</button>
					</form>
					<p class="account">
						Already have an account? <a href="/login">Login</a>
					</p>
				</div>
			</div>
			<!-- //main content -->
		</div>

	</div>

	<script th:src="@{/js/jquery-2.2.3.min.js}"></script>
	<script
		src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
			$("#registration_form").validate({
				rules : {
					'userDetail.name' :
						{
						required : true
					//	minlength: jQuery.format("Enter at least (2) characters"),
				      //  maxlength:jQuery.format("First name too long more than (80) characters"),
				       // lettersonly:jQuery.format("letters only mate")
						
						},
					lastname : 'required',
					"userDetail.mobile_no" : {
						number: true,
						minlength : 10,
						maxlength : 10,
						required:true
					},
					password: {
				            required: true,
				            minlength: 5
				        },
					email : {
						required : true,
						email : true,//add an email rule that will ensure the value entered is valid email id.
						maxlength : 555
					}

				}
			});

		});
	</script>




</body>
</html>