<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">

<body>
	<div id="page" layout:fragment="content">
		<div id="dynamicContent">


			<div class="main position-relative">
				<!-- logo -->
				<h1 class="logo_wthree">
				</h1>
				
				<section class="inner-banner-agile"></section>
				
			</div>
			<!-- banner -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/event/home">Home</a></li>
				<li class="breadcrumb-item active">Services</li>
			</ol>
			<!-- promotions -->
			<section class="wthree-row w3-about  py-5">
				<div class="container py-md-4 mt-md-3">
					<h2 class="tittle mb-xl-5 mb-4 text-center">
						<span class="text-uppercase"></span> Upcoming Events
					</h2>


					<div class="container">
						<div class="row pt-5" th:each="i : ${contact}">
							<div class="col-6">
								<img th:src="${i.image}" class="img-fluid"
									alt="Card image cap">
							</div>

							<div class="col-5 service-btn-list">
								<h1 class="card-title" align="center">
									<span th:text="${i.name}"></span>
									</h5>

									<br>
								<td>Hosted By: <span th:text="${i.eventHost.userDetail.name}"></span></td>										
									<br>
									<tr>
										<td>Starting Date: <span th:text="${i.s_date}"></span></td>
									</tr>
									<br>
									<br>
									<tr>
										<td>Ending Date: <span th:text="${i.e_date}"></span></td>
									</tr>
									<br>
									<br>
									<tr>
										<p class="card-text mb-3">
											<i class="fas fa-map-marker pr-2"></i> <span
												th:text="${i.city.name}"></span>
										</p>
									</tr>

				      
				      	<a href="#" class="btn btn-primary btn-join" th:if="${userName!= i.eventHost.email}">JOIN</a>
				        <a th:href="@{'/event/services/'+ ${i.eid}}" class="btn btn-primary">VIEW</a>
				          
				
								
							<!--  	<a href="#" class="btn btn-primary">VIEW</a> -->
								
							</div>
						</div>
					</div>
					</div>
			</section>
			
		</div>
	</div>

</body>
</html>