<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">

<body>


	<div id="page" layout:fragment="content">
		<div id="dynamicContent">


			<div class="main position-relative">
				<!-- logo -->
				<h1 class="logo_wthree"></h1>

				<section class="inner-banner-agile"></section>

			</div>
			<!-- banner -->
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/event/home">Home</a></li>
				<li class="breadcrumb-item active">Services</li>
			</ol>
			<!-- promotions -->
			<section class="wthree-row w3-about  py-5">
				<div class="container py-md-4 mt-md-3">
					<h2 class="tittle mb-xl-5 mb-4 text-center">
						<span class="text-uppercase"></span> Upcoming Events
					</h2>
					<div class="container">
						<div class="row">
							<div class="col-md-12">
								<div class="input-group" id="boot-search-box">
									<input type="text" class="form-control search-box-style"
										placeholder="Filter your search:" />
									<div class="input-group-btn">
										<div class="btn-group" role="group">
											<div class="dropdown dropdown-lg">
												<button type="button"
													class="btn btn-default dropdown-toggle"
													data-toggle="dropdown" aria-expanded="false"></button>
												<div class="dropdown-menu dropdown-menu-right" role="menu">
													<form class="form-horizontal" role="form">
														<div class="form-group">
															<label for="filter">City : </label> <select
																id="cityDropdown" class="form-control search-box-style">
																<option value="Test" selected>Test</option>
																<option value="tt">tt</option>
																<option value="price">alkapuri</option>
																<option value="popular">fatehgunj</option>
															</select>
														</div>
														<div class="form-group">
															<label for="contain">Location:</label> <input
																id="locationField" class="form-control search-box-style"
																type="text" />
														</div>

														<div class="form-group">

															<br />

															<button type="button" onclick="filterEvents()"
																class="btn btn-info btn-block">
																Search :: <span class="glyphicon glyphicon-search"
																	aria-hidden="true"></span>
															</button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
						<script
							src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

					</div>

					<div class="container">
						<div class="row pt-5" th:each="i : ${contact}">
							<div class="col-6">
								<img th:src="${i.image}" class="img-fluid" alt="Card image cap">
							</div>

							<div class="col-5 service-btn-list">
								<h1 class="card-title" align="center">
									<span th:text="${i.name}"></span>
									</h5>

									<br>
									<td>Hosted By: <span
										th:text="${i.eventHost.userDetail.name}"></span></td> <br>
									<tr>
										<td>Starting Date: <span th:text="${i.s_date}"></span></td>
									</tr>
									<br> <br>
									<tr>
										<td>Ending Date: <span th:text="${i.e_date}"></span></td>
									</tr>
									<br> <br>
									<tr>
										<p class="card-text mb-3">
											<i class="fas fa-map-marker pr-2"></i> <span
												th:text="${i.city.name}"></span>
										</p>
									</tr>


									<span th:if="${userName!= i.eventHost.email}"> <a
										th:href="@{'/event/takePart/'+${i.eid}}"
										class="btn btn-primary">JOIN</a></span> <a
										th:href="@{'/event/services/'+${i.eid}}"
										class="btn btn-primary">VIEW</a> <span
										th:if="${userName == i.eventHost.email}"> <a
										th:href="@{'/event/edit/'+${i.eid}}" class="btn btn-primary">EDIT</a></span>

									<span
										th:if="${userName == i.eventHost.email && #lists.isEmpty(i.participants)}">
										<a th:href="@{'/event/delete/'+${i.eid}}"
										class="btn btn-primary">DELETE</a>
									</span> <span
										title="this event can not be deleted as it already is participants"
										th:if="${userName == i.eventHost.email && not #lists.isEmpty(i.participants)}">
										<button disabled="disabled" class="btn btn-primary">DELETE</button>
									</span>
							</div>
						</div>
					</div>
				</div>
			</section>

		</div>
	</div>

</body>
</html>