<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="default">

<body>
<div id="page" layout:fragment="content">
		<div id="dynamicContent">
    <div class="signup">
        <form>
            <h1>Sign Up</h1>
            <input type="text" placeholder="Name" />
            <input type="email" placeholder="Email" />
            <input type="text" placeholder="Contact No." />
            <input type="text" placeholder="Gender" />
            <input type="password" placeholder="Choose password" />
            <input type="password" placeholder="Retype Password" />
            <button class="btn">Sign Up</button>
        </form>
    </div>
    </div>
    </div>
</body>
</html>
